Flask==2.0.1
Werkzeug==2.0.1
gunicorn==20.1.0
paddlepaddle==2.1.0
paddleocr==2.6.0.1
Pillow==8.4.0
numpy==1.19.5
requests==2.26.0
python-multipart==0.0.5
six==1.16.0
opencv-python-headless==4.5.3.56 